Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/Content/VPRealFood
/Content/LevelPrototyping
/Content/FPWeapon
/Content/FirstPersonArms
/Content/FirstPerson
/Content/__ExternalObjects__/FirstPerson
/Content/__ExternalActors__/FirstPerson
/Content/UndeadPack
